<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<head>
    <meta charset="utf-8" />
    <!--基本兼容ie8以上浏览器-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" >
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/bootstrap/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/bootstrap/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!--标题-->
                <a class="brand" href="@Url.Content("~")">
                    KINVER&nbsp;&nbsp;景悦锦辰
                </a>
                <!--导航-->
                <input id="menuSelected" type="hidden" value="@ViewBag.menuSelected"/>
                <ul id="kinvernav" class="nav">
                    <li id="home"><a href="@Url.Content("~")" id="current">首页</a></li>
                    @*<li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            服务
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="services">*@
                            <li id="service1">
                                <a href="@Url.Content("~/Service/Details/1")">礼盒礼券</a>
                            </li>
                            @*<li id="service2">
                                <a href="@Url.Content("~/Service/Details/2")">企业礼券</a>
                            </li>*@
                            <li id="service2">
                                <a href="@Url.Content("~/Service/Details/2")">餐厅配送</a>
                            </li>
                            <li id="service3">
                                <a href="@Url.Content("~/Service/Details/3")">家庭配送</a>
                            </li>

                        @*</ul>
                    </li>*@
                    <li id="store" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            商品
                            <b class="caret"></b>
                        </a>
                        <!--商品下拉菜单-->
                        @{Html.RenderAction("GenreMenuForNav","Home");}
                    </li>
                    @*<li>
                        @{Html.RenderAction("CartSummary","ShoppingCart");}
                    </li>*@
                </ul>

            </div>
        </div>
    </div>
    

@*    <div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    ...
  </ul>
</div>*@



    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        <div class="container">
            <div id="footer-links">
                <a href="@Url.Content("~/Home/About/")">关于景悦锦辰</a>
                <span></span>
                <a href="@Url.Content("~/Home/ContactUs/")">联系我们</a>
                <span></span>
                <a>常见问题</a>
                <span></span>
                <a>配送说明</a>
                <span></span>
                <a>付款说明</a>
                <span></span>
                <a>新浪微博</a>
                <span></span>
            </div>
            <div id="footer-copyright">
                <span>北京景悦锦辰贸易有限公司</span>
                <span>Copyright&copy;2012</span>
                <span>京ICP证010101号</span>
                <span>京公网安备111111111111号</span>
                <span>工商注册号111111111111111</span>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            var menuSelected = $("#menuSelected").val();
            $("#"+menuSelected).addClass("active");
        });
    </script>
</body>
</html>
