@model List<MVCKinver.Models.Product>
@{
    ViewBag.Title = "Kinver - 景悦锦辰";
}
<div id="promotion">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div id="promotion1" class="active item">
                <div class="container">
                    <a href="@Url.Content("~/Service/Details/3")" class="btn btn-large">查看景悦家庭配送服务 <span style="font-family:Arial;font-size:larger;">&rsaquo;&rsaquo;</span></a>
                </div>
            </div>
            <div id="promotion2" class="item">
                <div class="container">
                    <div class="contents">
                        <img src="@Url.Content("~/Content/Images/hero-page-two-text.png")" alt="产品来自世界各地" />
                        
                        <p><a href="@Url.Content("~/Store/Browse?Genre=Beaf")" class="btn btn-large">查看我们提供的商品 <span style="font-family:Arial;font-size:larger;">&rsaquo;&rsaquo;</span></a></p>
                    </div>
                    
                </div>
            </div>
@*            <div id="promotion3" class="item">
                <div class="container">
                    <a href="@Url.Content("~/Service/Details/4")" class="btn btn-large">查看景悦家庭配送服务 <span style="font-family:Arial;font-size:larger;">&rsaquo;&rsaquo;</span></a>
                </div>
            </div>*@
        </div>
        <script>
            !function ($) {
                $(function () {
                    $('#myCarousel').carousel()
                })
            }(window.jQuery)
        </script>
        <a style="color:gray;" class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a style="color:gray;" class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    
</div>
<div id="services">
    <div class="container">
        <h3>
            我们提供以下服务
        </h3>
        <div class="row">
            <div class="span4" style="text-align:center;">
                <img alt="" src="@Url.Content("~/Content/Images/ServiceImages/Normal/Giftbox.png")"/>
                <h4>
                    礼盒礼券
                </h4>
                
                <p>
                    不同礼盒，同样品质，适应各种需求
                </p>
                <p>
                    分发礼券，配送上门，方便不失尊贵
                </p>
                <p>
                    以“礼”服人，选择景悦锦辰
                </p>
                <p>
                    <a class="btn" href="@Url.Content("~/Service/Details/1")">
                        选择礼盒 >>
                    </a>
                </p>
            </div>
            
            <div class="span4" style="text-align:center;">
                <img alt="" src="@Url.Content("~/Content/Images/ServiceImages/Normal/Canting.png")" />
                <h4>
                    餐厅配送
                </h4>
                <p>
                    新鲜，安全，健康
                </p>
                <p>
                    为客户提供最佳美食
                </p>
                <p>
                    景悦锦辰与您一路同行
                </p>
                <p>
                    <a class="btn" href="@Url.Content("~/Service/Details/2")">
                        查看详情 >>
                    </a>
                </p>
                <p class="muted">
                    * 仅限北京地区
                </p>
            </div>
            <div class="span4" style="text-align:center;">
                <img alt="" src="@Url.Content("~/Content/Images/ServiceImages/Normal/Jiating.png")" />
                <h4>
                    家庭配送
                </h4>
                <p>
                    为佳人
                </p>
                <p>
                    选择最棒的食材
                </p>
                <p>
                    秀最好的厨艺
                </p>
                <p>
                    <a class="btn" href="@Url.Content("~/Service/Details/3")">
                        查看家庭配送方案 >>
                    </a>
                </p>
                <p class="muted">
                    * 仅限北京地区
                </p>
            </div>
        </div>
    </div>
</div>
<div id="hot-products">
    <div class="container">
        <h3>
            我们供应来自世界各地的优质食材
        </h3>
        <div class="row">
            @foreach (var product in Model)
            { 
                <div class="span4">
                    <a href="@Url.Action("Details", "Store", new { id = product.ProductId})">
                        <img
                             title="@product.Title"
                             src="../Content/Images/ProductImages/List/@product.MainImageUrl" />
                    </a>
                    <p class="title">
                        <a href="@Url.Action("Details", "Store", new { id = product.ProductId})" title="@product.Title" target="_blank">
                            @product.Title
                        </a>
                        <span class="price">￥@product.ProductSizes.First().PricePerKG<span class="kg">&nbsp;/&nbsp;kg</span></span>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
<div id="restaurants">
    <div class="container">
        <h3>
            您还可以到以下餐厅享用由景悦锦辰食材烹饪的美味佳肴
        </h3>
        <div class="row">
            <div class="span3">
                <div class="restaurant">
                    <img src="@Url.Content("~/Content/Images/GuestsImages/FLAMME.png")" />
                </div>
                
            </div>
            <div class="span3">
                <div class="restaurant">
                    <img src="@Url.Content("~/Content/Images/GuestsImages/GUNGHO.png")" />
                </div>
            </div>
            <div class="span3">
                <div class="restaurant">
                    <img src="@Url.Content("~/Content/Images/GuestsImages/STARFISH.png")" />
                </div>
            </div>
            <div class="span3">
                <div class="restaurant">
                    <img src="@Url.Content("~/Content/Images/GuestsImages/IMPASTO.png")" />
                </div>
            </div>
        </div>
    </div>
</div>
