@model MVCKinver.Models.Genre

@{
    ViewBag.Title = "浏览产品";
}

<div class="genre">
    <h3>
        <em>@Model.Name</em>
    </h3>
    <ul id="product-list">
        @foreach (var product in Model.Products)
        { 
            <li>
                <a href="@Url.Action("Details", new { id = product.ProductId})">
                    <img alt="@product.Title" src="@product.ProductImageUrl" />
                    <span>@product.Title</span>
                </a>
            </li>
        }
    </ul>
</div>

