@model MVCKinver.Models.Genre

@{
    ViewBag.Title = Model.Name + " - 产品列表 | 景悦锦辰";
}
<script type="text/javascript">
    $(document).ready(function () {
        var genreSelected = $("#genreSelected").val();
        $("#" + genreSelected).addClass("active");
        $("#" + genreSelected).children("i").addClass("icon-white");
        $("#" + genreSelected).children("i").removeClass("opacity-point-twentyfive");
    });
</script>

<div class="container container-margin-top">
    <input id="genreSelected" type="hidden" value="@ViewBag.genreSelected"/>
    <div class="row">
        <div class="span2">
            @{Html.RenderAction("GenreMenu", "Store");}
        </div>
        <div class="span10">
            <div class="genre">
                <h2>
                    @Model.Name
                </h2>
                <p>
                    @Model.Description
                </p>
                <p>
                    北京市五环以内家庭用户可在线下单，单笔订单满100元起送，所有商品免配送费！
                </p>
                @if (Model.Products.Count() == 0)
                {
                    <p>
                        产品上线中……
                    </p>
                }
                else
                {
                    <ul id="product-list">
                    @foreach (var product in Model.Products)
                    { 
                        <li>
                            
                            <div>
                                <a href="@Url.Action("Details", new { id = product.ProductId })" target="_blank">
                                    <img alt="@product.Title" src="@Url.Content("~/Content/Images/ProductImages/List/" + @product.MainImageUrl)" />
                                </a>
                            </div>
                            <div class="product-title" style="margin-top:10px;">
                                <a href="@Url.Action("Details", new { id = product.ProductId })" target="_blank">
                                    @product.Title
                                </a>
                            </div>
                            <div style="margin-top:5px;">
                                <div style="float:left;">￥<b style="color:#ff6a00;">@product.ProductSizes.FirstOrDefault().PricePerUnit</b> 元 / @product.ProductSizes.FirstOrDefault().SaleUnit <span class="muted">( @product.ProductSizes.FirstOrDefault().NetWeightPerUnit 克 )</span></div>
                                <div style="float:right;">
                                    来自
                                    <span style="color:#3A87AD;">
                                        @product.Area.Name
                                    </span>
                                </div>
                                
                            </div>
                        </li>
                    }
                </ul>
                }
            </div>
        </div>
    </div>
</div>



