@model MVCKinver.Models.Genre

@{
    ViewBag.Title = Model.Name + " - 产品列表 | 景悦锦辰";
}
<script type="text/javascript">
    $(document).ready(function () {
        var genreSelected = $("#genreSelected").val();
        $("#" + genreSelected).addClass("active");
        $("#" + genreSelected).children("i").addClass("icon-white");
        $("#" + genreSelected).children("i").removeClass("opacity-point-twentyfive");
    });
</script>

<div class="container container-margin-top">
    <input id="genreSelected" type="hidden" value="@ViewBag.genreSelected"/>
    <div class="row">
        <div class="span2">
            @{Html.RenderAction("GenreMenu","Store");}
        </div>
        <div class="span10">
            <div class="genre">
                <h3>
                    <em>@Model.Name</em>
                </h3>
                <ul id="product-list">
                    @foreach (var product in Model.Products)
                    { 
                        <li>
                            <a href="@Url.Action("Details", new { id = product.ProductId})">
                                <img class="img-polaroid" alt="@product.Title" src="@Url.Content("~/Content/Images/ProductImages/List/"+@product.MainImageUrl)" />
                            </a>
                            <a href="@Url.Action("Details", new { id = product.ProductId})">
                                <span>@product.Title</span>
                            </a>
                            <span>@product.ProductSizes.FirstOrDefault().PricePerBox</span>
                        </li>
                    }
                </ul>
            </div>
            <div id="test">
                33333
            </div>
        </div>
    </div>
</div>



